# Python cache files
__pycache__
**/*.pyc

# UI dependencies
ui/demo/node_modules
ui/library/node_modules/

# UI build output
ui/demo/build/

# UI package manager debug output
ui/*.log
.skiff/webapp.yaml

# REMOVE BEFORE PUSHING
ui-final/
