version: '3'
services:
    sonar:
        build: ./sonar
        depends_on:
            - ui
            - proxy
    ui:
        build: ./ui
        # We can't mount the entire UI directory, since JavaScript dependencies
        # (`node_modules`) live at that location.
        volumes:
            - ./ui/src:/usr/local/src/skiff/app/ui/src
            - ./ui/public:/usr/local/src/skiff/app/ui/public
            - ./ui/package.json:/usr/local/src/skiff/app/ui/package.json
            - ./ui/tsconfig.json:/usr/local/src/skiff/app/ui/tsconfig.json
            - ./ui/yarn.lock:/usr/local/src/skiff/app/ui/yarn.lock
        environment:
            - NODE_ENV=development
    proxy:
        build: ./proxy
        ports:
            - 8080:8080
        depends_on:
            - ui
