@pdflib-page-background: #ffffff;
@pdflib-page-shadow: #000000;
@pdflib-highlight-background: #ccb300;
@pdflib-grey-0: #d9dadb;
@pdflib-grey-3: #2e3743;
@initial-blue: #1857b6;
@hover-active-blue: #5492ef;
@loading-outline-yellow: #f4d35e;
