@media print {
    ::-webkit-scrollbar {
      display: none;
    }

  html, body { height: auto,  }
    @page{
        size: auto;
        margin: 0;
      overflow:hidden;
    }

  
    html, body { 
      margin: 0 !important; 
      padding: 0 !important;  
    }
 
    .no-break{ page-break-before: always; }

    .reader__page {
      margin: 0;  
    }
  
    .reader .reader__main {
      margin-top: 0px;
    }
  
    .reader__header {
      display: none; 
    }
  
    .app-page__header {
      display: none; 
    }
    
    hypothesis-sidebar {
      display: none;
    }
}
  
   