name: ci
on: push
jobs:
  ui:
    # The default is 360 (6 hours).
    timeout-minutes: 5
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ui
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.21.0'
      - run: yarn install
      - run: yarn build
      - run: yarn test
